dependencies {
    implementation project(':model')
    implementation 'org.springframework:spring-context'
    implementation 'org.springframework.boot:spring-boot-starter-data-r2dbc'
    implementation 'org.postgresql:r2dbc-postgresql'
    implementation 'org.reactivecommons.utils:object-mapper-api:{{objectMapperVersion}}'

    testImplementation 'org.reactivecommons.utils:object-mapper:{{objectMapperVersion}}'
}

