package {{package}}

import org.springframework.data.repository.reactive.ReactiveCrudRepository

// TODO: This file is just an example, you should delete or modify it
interface MyReactiveRepository : ReactiveCrudRepository<Any?, String?>
