package {{package}}

import reactor.core.publisher.Mono
import org.springframework.data.r2dbc.repository.Query
import org.springframework.data.repository.reactive.ReactiveCrudRepository

// TODO: This file is just an example, you should delete or modify it
interface MyReactiveRepository : ReactiveCrudRepository<Any?, String?>
