package {{package}}.jpa.config;

{{#include-secret}}
    {{#lombok}}
import lombok.Data;
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
import lombok.Builder;
import lombok.Getter;
    {{/lombok}}
{{/include-secret}}
{{#include-secret}}
    {{#lombok}}
@Data
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
@Builder
@Getter
    {{/lombok}}
{{/include-secret}}
class DBSecret {
    private {{^include-secret}}const {{/include-secret}}val url :String;
    private {{^include-secret}}const {{/include-secret}}val username :String;
    private {{^include-secret}}const {{/include-secret}}val password :String;
{{^lombok}}

    fun DBSecret(url :String, username :String, password :String) {
        this.url = url;
        this.username = username;
        this.password = password;
    }

    fun getUrl() :String {
        return url;
    }

    fun getUsername() :String{
        return username;
    }

    fun getPassword() :String{
        return password;
    }

    @Override
    fun toString() :String{
        return "DBSecret{" +
        "url='" + url + '\'' +
        ", username='" + username + '\'' +
        ", password='" + password + '\'' +
        '}';
    }
{{/lombok}}

}
