package {{package}}.jpa.config;

{{#include-secret}}
    {{#lombok}}
import lombok.Data;
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
import lombok.Builder;
import lombok.Getter;
    {{/lombok}}
{{/include-secret}}
{{#include-secret}}
    {{#lombok}}
@Data
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
@Builder
@Getter
    {{/lombok}}
{{/include-secret}}
public class DBSecret {
    private {{^include-secret}}final {{/include-secret}}String url;
    private {{^include-secret}}final {{/include-secret}}String username;
    private {{^include-secret}}final {{/include-secret}}String password;
{{^lombok}}

    public DBSecret(String url, String username, String password) {
        this.url = url;
        this.username = username;
        this.password = password;
    }

    public String getUrl() {
        return url;
    }

    public String getUsername() {
        return username;
    }

    public String getPassword() {
        return password;
    }

    @Override
    public String toString() {
        return "MongoDBSecret{" +
        "url='" + url + '\'' +
        ", username='" + username + '\'' +
        ", password='" + password + '\'' +
        '}';
    }
{{/lombok}}

}
