package {{package}}.jpa.config;

{{#include-secret}}
import lombok.Data;
{{/include-secret}}
{{^include-secret}}
import lombok.Builder;
import lombok.Getter;
{{/include-secret}}

{{#include-secret}}
@Data
{{/include-secret}}
{{^include-secret}}
@Builder
@Getter
{{/include-secret}}
public class DBSecret {
    private {{^include-secret}}final {{/include-secret}}String url;
    private {{^include-secret}}final {{/include-secret}}String username;
    private {{^include-secret}}final {{/include-secret}}String password;
}
