dependencies {
    compile project(':model')
    compile 'org.springframework.boot:spring-boot-starter-data-redis-reactive'
    compile 'com.fasterxml.jackson.core:jackson-databind'
    compile 'org.reactivecommons.utils:object-mapper:0.1.0'
}
