package {{package}}.redis.template;

import {{package}}.redis.template.helper.ReactiveTemplateAdapterOperations;
import org.reactivecommons.utils.ObjectMapper;
import org.springframework.data.redis.connection.ReactiveRedisConnectionFactory;
import org.springframework.stereotype.Component;
import reactor.core.publisher.Mono;

@Component
class ReactiveRedisTemplateAdapter  :ReactiveTemplateAdapterOperations<Any/* change for domain model */, String, Object/* change for adapter model */>
// implements ModelRepository from domain
{
    fun ReactiveRedisTemplateAdapter(connectionFactory :ReactiveRedisConnectionFactory , mapper :ObjectMapper ) {
        /**
         *  Could be use mapper.mapBuilder if your domain model implement builder pattern
         *  super(repository, mapper, d -> mapper.mapBuilder(d,ObjectModel.ObjectModelBuilder.class).build());
         *  Or using mapper.map with the class of the object model
         */
        super(connectionFactory, mapper, d -> mapper.map(d, Object.class/* change for domain model */));
    }
}
