dependencies {
    implementation project(':model')
    implementation 'software.amazon.awssdk:s3:2.17.155'
    implementation 'org.springframework:spring-context'
    implementation 'org.springframework.boot:spring-boot-starter'
}
