package {{package}}.s3.adapter;

import org.springframework.stereotype.Repository;
import {{package}}.s3.config.model.S3ConnectionProperties;
import {{package}}.s3.operations.S3Operations;
{{#lombok}}
import lombok.RequiredArgsConstructor;
{{/lombok}}

@Repository
{{#lombok}}
@RequiredArgsConstructor
{{/lombok}}
public class S3Adapter /* implements Gateway from domain*/ {

    private final S3Operations s3Operations;

    private final S3ConnectionProperties properties;

{{^lombok}}
    public S3Adapter(S3Operations s3Operations, S3ConnectionProperties properties) {
        this.s3Operations = s3Operations;
        this.properties = properties
    }
{{/lombok}}
}
