package {{package}}.s3.config.model;

{{#lombok}}
import lombok.AllArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.RequiredArgsConstructor;
{{/lombok}}
import org.springframework.boot.context.properties.ConfigurationProperties;
import org.springframework.context.annotation.Configuration;

{{#lombok}}
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
{{/lombok}}
@Configuration
@ConfigurationProperties(prefix = "adapter.aws.s3")
public class S3ConnectionProperties {

    private String bucketName;
    private String region;
    private String endpoint;

{{^lombok}}
    public String getBucketName() {
        return bucketName;
    }

    public void setBucketName(String bucketName) {
        this.bucketName = bucketName;
    }

    public String getRegion() {
        return region;
    }

    public void setRegion(String region) {
        this.region = region;
    }

    public String getEndpoint() {
        return endpoint;
    }

    public void setEndpoint(String endpoint) {
        this.endpoint = endpoint;
    }
{{/lombok}}

}