package co.com.bancolombia.s3;

import org.springframework.stereotype.Component;
import lombok.RequiredArgsConstructor;
import software.amazon.awssdk.core.ResponseBytes;
import software.amazon.awssdk.core.sync.RequestBody;
import software.amazon.awssdk.services.s3.S3Client;
import software.amazon.awssdk.services.s3.model.*;

import java.io.File;
import java.io.InputStream;
import java.util.List;

@Component
{{#lombok}}
@RequiredArgsConstructor
{{/lombok}}
public class S3Operations {

    private final S3Client s3Client;
    private final S3ConnectionProperties properties;

{{^lombok}}
    public S3Adapter(S3Client s3Client ) {
    this.s3Client = s3Client;
    }
{{/lombok}}

    public boolean uploadObject(String objectKey, byte[] fileContent) {
        s3Client.putObject(configurePutObject(objectKey),
                RequestBody.fromBytes(fileContent)).sdkHttpResponse().isSuccessful();
    }

    public boolean uploadObject(String objectKey, String fileContent) {
        s3Client.putObject(configurePutObject(objectKey),
                RequestBody.fromString(fileContent)).sdkHttpResponse().isSuccessful();
    }

    public boolean uploadObject(String objectKey, File fileContent) {
        s3Client.putObject(configurePutObject(objectKey),
                RequestBody.fromFile(fileContent)).sdkHttpResponse().isSuccessful();
    }

    public List<S3Object> listBucketObjects(){
        return s3Client.listObjects(ListObjectsRequest
                .builder()
                .bucket(properties.getBucketName())
                .build()).contents();
    }

    public InputStream getObject(String objectKey) {
        return s3Client.getObjectAsBytes(GetObjectRequest.builder()
                .key(objectKey)
                .bucket(properties.getBucketName())
                .build()).asInputStream();
    }

    public boolean deleteObject(String objectKey) {
        return s3Client.deleteObject(DeleteObjectRequest.builder()
                .key(objectKey)
                .bucket(properties.getBucketName()).build()).sdkHttpResponse().isSuccessful();
    }

    private PutObjectRequest configurePutObject(String objectKey) {
        return PutObjectRequest.builder()
                .bucket(properties.getBucketName())
                .key(objectKey)
                .build();
    }

}