package {{package}}.kms;

import org.springframework.beans.factory.annotation.Value;
import org.springframework.stereotype.Component;
import org.springframework.util.Base64Utils;

import lombok.RequiredArgsConstructor;
import software.amazon.awssdk.core.SdkBytes;
import software.amazon.awssdk.services.kms.KmsAsyncClient;
import software.amazon.awssdk.services.kms.model.DecryptRequest;
import software.amazon.awssdk.services.kms.model.EncryptRequest;
import software.amazon.awssdk.services.kms.model.EncryptionAlgorithmSpec;
import java.util.concurrent.ExecutionException;

@Component
{{#lombok}}
@RequiredArgsConstructor
{{/lombok}}
public class KmsAdapter // implements ModelRepository from domain
{
    @Value("${adapters.aws.kms.keyId}")
    private String keyId;
    private final KmsAsyncClient kmsAsyncClient;

{{^lombok}}
    public KmsAdapter(KmsAsyncClient kmsAsyncClient ) {
    this.kmsAsyncClient = kmsAsyncClient;
    }
{{/lombok}}
    public byte[] decrypt(String secretKey, String keyId) throws ExecutionException, InterruptedException {
        return kmsAsyncClient.decrypt(getDecryptRequest(secretKey, keyId))
                .get()
                .plaintext()
                .asByteArray();
    }

    public String encrypt(byte[] secretKey) throws ExecutionException, InterruptedException {
        return Base64Utils.encodeToString(kmsAsyncClient.encrypt(getEncryptRequest(secretKey, keyId))
                        .get()
                        .ciphertextBlob().asByteArray());
    }

    private DecryptRequest getDecryptRequest(String secretKey, String keyId) {
        byte[] decodedSecretKey = Base64Utils.decodeFromString(secretKey);
        return DecryptRequest.builder()
        .ciphertextBlob(SdkBytes.fromByteArray(decodedSecretKey))
        .keyId(keyId)
        .build();
    }

    private EncryptRequest getEncryptRequest(byte[] secretKey, String keyId) {
        return EncryptRequest.builder()
        .plaintext(SdkBytes.fromByteArray(secretKey))
        .encryptionAlgorithm(EncryptionAlgorithmSpec.SYMMETRIC_DEFAULT)
        .keyId(keyId)
        .build();
    }
}
