package {{package}}.kms.config.model

import org.springframework.boot.context.properties.ConfigurationProperties
import org.springframework.boot.context.properties.ConstructorBinding

@ConstructorBinding
@ConfigurationProperties(prefix = "adapters.aws.kms")
data class KmsConnectionProperties(
    val host: String,
    val region: String,
    val protocol: String,
    val port: Int,
    val keyId: String
) {
    fun getEndpoint(): String = "$protocol://$host:$port"
}
