package {{package}}.kafka.producer;

import {{package}}.model.a2a.SendMessageResponse;
import {{package}}.model.chat.gateways.AgentResponseGateway;
import tools.jackson.databind.json.JsonMapper;
{{#lombok}}
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
{{/lombok}}
import org.reactivecommons.async.api.DomainEventBus;
import org.reactivecommons.async.impl.config.annotations.EnableDomainEventBus;
import org.reactivecommons.async.kafka.KafkaMessage;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.stereotype.Component;
import reactor.core.publisher.Mono;

import java.util.UUID;

{{#lombok}}
@Slf4j
{{/lombok}}
@Component
@EnableDomainEventBus
public class KafkaProducerAdapter implements AgentResponseGateway {

{{^lombok}}
    private static final org.slf4j.Logger log = org.slf4j.LoggerFactory.getLogger(KafkaProducerAdapter.class);
{{/lombok}}

    private final DomainEventBus domainEventBus;
    private final JsonMapper jsonMapper;
    private final String topic;

    public KafkaProducerAdapter(DomainEventBus domainEventBus,
                                JsonMapper jsonMapper,
                                @Value("${adapters.kafka.producer.topic}") String topic) {
        this.domainEventBus = domainEventBus;
        this.jsonMapper = jsonMapper;
        this.topic = topic;
    }

    // See: https://bancolombia.github.io/reactive-commons-java/docs/reactive-commons/sending-a-domain-event/kafka
    @Override
    public Mono<Void> sendResponse(SendMessageResponse response) {
        return Mono.fromCallable(() -> jsonMapper.writeValueAsBytes(response))
                .flatMap(body -> {
                    log.info("Sending response to kafka topic {}", topic);
                    KafkaMessage.KafkaMessageProperties properties = new KafkaMessage.KafkaMessageProperties();
                    properties.setTopic(topic);
                    properties.setKey(UUID.randomUUID().toString());
                    properties.getHeaders().put("content-type", "application/json");

                    KafkaMessage rawMessage = new KafkaMessage(body, properties, null);
                    return Mono.from(domainEventBus.emit(rawMessage))
                            .doOnSuccess(v -> log.info("Message sent successfully to topic {}", topic));
                })
                .onErrorResume(e -> {
                    log.error("Failed to serialize or send SendMessageResponse", e);
                    return Mono.empty();
                });
    }
}
