dependencies {
    implementation project(':model')
    implementation 'org.springframework.kafka:spring-kafka'
    implementation 'org.springframework.boot:spring-boot-starter-kafka'
    implementation 'io.projectreactor.kafka:reactor-kafka:{{REACTOR_KAFKA_VERSION}}'
    implementation 'com.fasterxml.jackson.core:jackson-databind'
}
