dependencies {
    implementation project(':model')
    implementation project(':usecase')
    implementation 'org.reactivecommons:async-commons-rabbit-starter:{{asyncCommonsStarterVersion}}'
    implementation 'org.springframework:spring-context'
}
