dependencies {
    {{#eda}}
    implementation 'io.cloudevents:cloudevents-core:{{CLOUD_EVENTS_VERSION}}'
    {{/eda}}
    {{#rabbitmq}}
    implementation 'org.reactivecommons:async-commons-rabbit-starter:{{REACTIVE_COMMONS_VERSION}}'
    {{/rabbitmq}}
    {{#kafka}}
    implementation 'org.reactivecommons:async-kafka-starter:{{REACTIVE_COMMONS_VERSION}}'
    {{/kafka}}
    {{#metrics}}
    implementation 'io.micrometer:micrometer-core'
    {{/metrics}}
}
