dependencies {
    implementation(project(":model"))
    implementation(project(":usecase")
    implementation("org.reactivecommons:async-commons-starter:{{asyncCommonsStarterVersion}}")
    implementation("org.springframework:spring-context")
}
