dependencies {
    implementation(project(":model"))
    implementation(project(":usecase"))
    implementation("org.reactivecommons:async-commons-starter:{{REACTIVE_COMMONS_VERSION}}")
    implementation("org.springframework:spring-context")
}
