package {{package}}.config;

import com.rabbitmq.client.ConnectionFactory;
import org.reactivecommons.async.impl.config.ConnectionFactoryProvider;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.boot.autoconfigure.amqp.RabbitProperties;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Primary;

import java.security.KeyManagementException;
import java.security.NoSuchAlgorithmException;


@Configuration
public class EventBusConfig {
    private static final Logger LOGGER = LoggerFactory.getLogger(EventBusConfig.class);

    private void configureSsl(ConnectionFactory connectionFactory) {
        try {
            connectionFactory.useSslProtocol();
        } catch (NoSuchAlgorithmException | KeyManagementException exception) {
            LOGGER.error(exception.getMessage());
        }
    }


    @Bean
    @Primary
    public ConnectionFactoryProvider connection(RabbitProperties rabbitProperties) {
        //This bean is required only if you need use SSL Protocol
        ConnectionFactory connectionFactory = new ConnectionFactory();
        connectionFactory.setHost(rabbitProperties.getHost());
        connectionFactory.setPort(rabbitProperties.getPort());
        connectionFactory.setUsername(rabbitProperties.getUsername());
        connectionFactory.setPassword(rabbitProperties.getPassword());
        configureSsl(connectionFactory);
        return () -> connectionFactory;
    }
}