package {{package}}.events;
{{^eda}}
import {{package}}.events.handlers.CommandsHandler;
import {{package}}.events.handlers.EventsHandler;
import {{package}}.events.handlers.QueriesHandler;
import org.reactivecommons.async.api.HandlerRegistry;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
{{/eda}}
{{#eda}}
import {{package}}.events.handlers.CommandsHandler;
import {{package}}.events.handlers.EventsHandler;
import {{package}}.events.handlers.QueriesHandler;
import org.reactivecommons.async.api.HandlerRegistry;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
{{/eda}}

@Configuration
public class HandlerRegistryConfiguration {

    // see more at: https://reactivecommons.org/reactive-commons-java/#_handlerregistry_2
    @Bean
    public HandlerRegistry handlerRegistry(CommandsHandler commands, EventsHandler events, QueriesHandler queries) {
        {{#eda}}
         return HandlerRegistry.register()
                        .listenNotificationCloudEvent("some.broadcast.event.name", events::handleEventA)
                        .listenCloudEvent("some.event.name", events::handleEventA)
                        .handleCloudEventCommand("some.command.name", commands::handleCommandA)
                        .serveCloudEventQuery("some.query.name", queries::handleQueryA);
        {{/eda}}
        {{^eda}}
        return HandlerRegistry.register()
                .listenNotificationEvent("some.broadcast.event.name", events::handleEventA, Object.class/*change for proper model*/)
                .listenEvent("some.event.name", events::handleEventA, Object.class/*change for proper model*/)
                .handleCommand("some.command.name", commands::handleCommandA, Object.class/*change for proper model*/)
                .serveQuery("some.query.name", queries::handleQueryA, Object.class/*change for proper model*/);
        {{/eda}}
    }
}
