package {{package}}.events.handlers;

{{#lombok}}
import lombok.AllArgsConstructor;
{{/lombok}}
import org.reactivecommons.async.impl.config.annotations.EnableQueryListeners;
import reactor.core.publisher.Mono;
{{#eda}}
import org.reactivecommons.async.api.AsyncQuery;
import io.cloudevents.CloudEvent;
{{/eda}}

{{#lombok}}
@AllArgsConstructor
{{/lombok}}
@EnableQueryListeners
public class QueriesHandler {
//    private final SampleUseCase sampleUseCase;

{{^lombok}}
    public QueriesHandler(/*SampleUseCase sampleUseCase*/) {
        //this.sampleUseCase = sampleUseCase;
    }
{{/lombok}}

{{#eda}}
    public Mono<Object/*change for proper model*/> handleQueryA(AsyncQuery<CloudEvent> query) {
        System.out.println("query received->" + query.getQueryData()); // TODO: Remove this line
//        return sampleUseCase.doSomethingReturningNoMonoVoid(query);
        return Mono.just("Response Data");
    }
{{/eda}}

{{^eda}}
    public Mono<Object/*change for proper model*/> handleQueryA(Object query/*change for proper model*/) {
        System.out.println("query received->" + query); // TODO: Remove this line
//        return sampleUseCase.doSomethingReturningNoMonoVoid(query);
        return Mono.just("Response Data");
    }
{{/eda}}

}
