package {{package}}.events.handlers

import org.reactivecommons.async.impl.config.annotations.EnableQueryListeners
import reactor.core.publisher.Mono

@EnableQueryListeners
open class QueriesHandler  //(private val sampleUseCase: SampleUseCase)
{
 open fun handleQueryA(query: Any /*change for proper model*/): Mono<Any> {
        println("query received->$query") // TODO: Remove this line
        //        return sampleUseCase.doSomethingReturningNoMonoVoid(query)
        return Mono.just("Response Data")
    }
}
