dependencies {
    implementation project(':model')
    implementation project(':jpa-repository-commons')

    compile 'org.springframework.boot:spring-boot-starter-data-jpa'
    compile 'org.reactivecommons.utils:object-mapper-api:0.1.0'

    runtime 'com.h2database:h2'
    testCompile 'org.reactivecommons.utils:object-mapper:0.1.0'
}
