package {{package}}.jpa;

import org.springframework.data.repository.CrudRepository;
import org.springframework.data.repository.query.QueryByExampleExecutor;

interface JPARepository :CrudRepository<Any/* change for adapter model */, String>, QueryByExampleExecutor<Object/* change for adapter model */> {
}
