dependencies {
    compile project(':model')
    compile project(':usecase')
    compile 'com.github.bancolombia:commons-jms-mq:{{commonsJmsVersion}}'
    compile 'org.springframework:spring-context'
}
