dependencies {
    implementation project(':model')
    implementation project(':usecase')
    implementation 'com.github.bancolombia:commons-jms-mq:{{commonsJmsVersion}}'
    implementation 'org.springframework:spring-context'
    {{#metrics}}
    implementation 'io.micrometer:micrometer-core'
    {{/metrics}}
}
