package {{package}}.mq.listener;

{{#metrics}}import jakarta.jms.JMSException;{{/metrics}}
import jakarta.jms.TextMessage;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.mockito.Mock;
import org.mockito.MockitoAnnotations;
import reactor.test.StepVerifier;

class SampleMQMessageListenerTest {

    @Mock
    private TextMessage textMessage;

    @BeforeEach
    void setUp(){
        MockitoAnnotations.openMocks(this);
    }

    @Test
    void processTest() {{#metrics}}throws JMSException{{/metrics}} {
        SampleMQMessageListener sampleMQMessageListener = new SampleMQMessageListener();

        StepVerifier.create(sampleMQMessageListener.process(textMessage)).verifyComplete();
    }
}
