package {{package}}.consumer;

{{#lombok}}
    import lombok.Builder;
    import lombok.Data;

    @Data
    @Builder(toBuilder = true)
{{/lombok}}
public class ObjectRequest {

private String val1;
private String val2;

{{^lombok}}
    public ObjectRequest() {
    }

    public String getVal1() {
        return val1;
    }

    public void setVal1(String val1) {
        this.val1 = val1;
    }

    public String getVal2() {
        return val2;
    }

    public void setVal2(String val2) {
        this.val2 = val2;
    }
{{/lombok}}
}
