dependencies {
    implementation(project(":model"))
    implementation("org.springframework:spring-context")
    implementation("com.amazonaws:aws-java-sdk-dynamodb:1.12.400")
    implementation("org.reactivecommons.utils:object-mapper-api:{{objectMapperVersion}}")
    testImplementation("org.reactivecommons.utils:object-mapper:{{objectMapperVersion}}")
}
