package {{package}}.dynamodb;

import com.amazonaws.services.dynamodbv2.datamodeling.DynamoDBAttribute;
import com.amazonaws.services.dynamodbv2.datamodeling.DynamoDBHashKey;
import com.amazonaws.services.dynamodbv2.datamodeling.DynamoDBTable;
import lombok.*;

@DynamoDBTable(tableName = "table_name")
{{#lombok}}
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
{{/lombok}}
public class ModelEntity {
{{^lombok}}
    public ModelEntity(){}

    public String getId() {
        return id;
    }

    public void setId(String id) {
        this.id = id;
    }

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }
{{/lombok}}
    @DynamoDBHashKey(attributeName = "key")
    String id;
    @DynamoDBAttribute(attributeName = "atr1")
    String atr1;
}