import com.fasterxml.jackson.databind.ObjectMapper
import org.gradle.configurationcache.problems.PropertyTrace.*
import org.gradle.internal.impldep.org.codehaus.plexus.component.annotations.Configuration


@Configuration
class BinStashConfiguration {

    @Bean
    fun objectMapper(): ObjectMapper? {
        return ObjectMapper()
    }

    {{#include-local}}
    @Bean
    fun objectCache(localCacheFactory: LocalCacheFactory<Any?>): ObjectCache<Any?>? {
        return localCacheFactory.newObjectCache()
    }
    {{/include-local}}

    {{#include-centralized }}
    @Bean
    fun objectCache(centralizedCacheFactory: CentralizedCacheFactory<Any?>): ObjectCache<Any?>? {
        return centralizedCacheFactory.newObjectCache();
    }
    {{/include-centralized }}

    {{#include-hybrid}}
    @Bean
    fun cacheSyncRules(): List<SyncRule?>? {
        val simpleSyncRule = SyncRule { keyArg, syncType -> true }
        return Collections.singletonList(simpleSyncRule)
    }

    @Bean
    fun objectCache(
        cacheFactory: HybridCacheFactory<Any?>,
        cacheSyncRules: List<SyncRule?>?
    ): ObjectCache<Any?>? {
        return cacheFactory.newObjectCache(cacheSyncRules)
    }
    {{/include-hybrid}}


}