package {{package}}.config;

import co.com.bancolombia.secretsmanager.api.GenericManager;
import co.com.bancolombia.secretsmanager.vaultsync.connector.VaultSecretManagerConfigurator;
import co.com.bancolombia.secretsmanager.vault.config.VaultSecretsManagerProperties;
import co.com.bancolombia.secretsmanager.api.exceptions.SecretException;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class SecretsConfig {

  @Bean
  public GenericManager getSecretManager(@Value("${vault.host:localhost}") String host,
                                         @Value("${vault.port:8200}") int port) throws SecretException {
      var configurator = VaultSecretManagerConfigurator.builder()
              .withProperties(VaultSecretsManagerProperties.builder()
                      .host(host)
                      .port(port)
                      //.roleId("<my role id for auth with vault>")
                      //.secretId("my secret id  for auth with vault>")
                      .token("<my token>")  // or if you already have a token
                      .build()
              )
              .build();
      return configurator.getVaultClient();
  }
}
