dependencies {
    implementation(project(":model"))
    implementation(project(":usecase"))
    implementation("com.github.bancolombia:commons-jms-mq:{{COMMONS_JMS_VERSION}}")
    implementation("org.springframework:spring-context")
}
