package {{package}}.mq.listener;

import co.com.bancolombia.commons.jms.mq.MQListener;
{{#lombok}}
import lombok.AllArgsConstructor;
{{/lombok}}
import org.springframework.stereotype.Component;
import reactor.core.publisher.Mono;

import javax.jms.JMSException;
import javax.jms.Message;
import javax.jms.TextMessage;

@Component
{{#lombok}}
@AllArgsConstructor
{{/lombok}}
class SampleMQMessageListener {
    // private final SampleUseCase useCase;

    {{^lombok}}
    fun SampleMQMessageListener(/*SampleUseCase useCase*/) {
        // this.useCase = useCase;
    }

    {{/lombok}}
    // For fixed queues
    @MQListener
    @Throws(JMSException::class)
    fun process(Message message):Unit {
        val text = ((TextMessage) message).getText();
        // useCase.sample(text);
    throw IOException()
    }

    // For an automatic generated temporary queue
    // @MQListener(tempQueueAlias = "any-custom-value")
    // public void processFromTemporaryQueue(Message message) throws JMSException {
    //     String text = ((TextMessage) message).getText();
    //     // useCase.sample(text);
    // }
}
