package {{package}}.sqs.listener.helper;

import {{package}}.sqs.listener.config.SqsProperties;
{{#lombok}}
import lombok.Builder;
import lombok.extern.log4j.Log4j2;
{{/lombok}}
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;
import reactor.core.scheduler.Schedulers;
import software.amazon.awssdk.services.sqs.SqsAsyncClient;
import software.amazon.awssdk.services.sqs.model.DeleteMessageRequest;
import software.amazon.awssdk.services.sqs.model.Message;
import software.amazon.awssdk.services.sqs.model.ReceiveMessageRequest;

import java.util.concurrent.ExecutorService;
import java.util.concurrent.Executors;
import java.util.function.Function;

{{#lombok}}
@Log4j2
@Builder
{{/lombok}}
public class SqsListener {
{{^lombok}}
    private static final org.apache.logging.log4j.Logger log = org.apache.logging.log4j.LogManager.getLogger(SqsListener.class);
{{/lombok}}
    private final SqsAsyncClient client;
    private final SqsProperties properties;
    private final Function<Message, Mono<Void>> processor;
    {{#metrics}}
    private String operation;
    {{/metrics}}
{{^lombok}}

    public SqsListener(final SqsAsyncClient client, final SqsProperties properties, final Function<Message, Mono<Void>> processor) {
        this.client = client;
        this.properties = properties;
        this.processor = processor;
    }
{{/lombok}}

    public SqsListener start() {
        {{#metrics}}
        this.operation = "MessageFrom:" + properties.queueUrl();
        {{/metrics}}
        ExecutorService service = Executors.newFixedThreadPool(properties.numberOfThreads());
        Flux<Void> flow = listenRetryRepeat().publishOn(Schedulers.fromExecutorService(service));
        for (var i = 0; i < properties.numberOfThreads(); i++) {
            flow.subscribe();
        }
        return this;
    }

    private Flux<Void> listenRetryRepeat() {
        return listen()
                .doOnError(e -> log.error("Error listening sqs queue", e))
                .repeat();
    }

    private Flux<Void> listen() {
        return getMessages()
                .flatMap(message -> processor.apply(message)
                         {{#metrics}}
                        .name("async_operation")
                        .tag("operation", operation)
                        .metrics()
                         {{/metrics}}
                        .then(confirm(message)))
                .onErrorContinue((e, o) -> log.error("Error listening sqs message", e));
    }

    private Mono<Void> confirm(Message message) {
        return Mono.fromCallable(() -> getDeleteMessageRequest(message.receiptHandle()))
                .flatMap(request -> Mono.fromFuture(client.deleteMessage(request)))
                .then();
    }

    private Flux<Message> getMessages() {
        return Mono.fromCallable(this::getReceiveMessageRequest)
                .flatMap(request -> Mono.fromFuture(client.receiveMessage(request)))
                .doOnNext(response -> log.debug("{} received messages from sqs", response.messages().size()))
                .flatMapMany(response -> Flux.fromIterable(response.messages()));
    }

    private ReceiveMessageRequest getReceiveMessageRequest() {
        return ReceiveMessageRequest.builder()
                .queueUrl(properties.queueUrl())
                .maxNumberOfMessages(properties.maxNumberOfMessages())
                .waitTimeSeconds(properties.waitTimeSeconds())
                .visibilityTimeout(properties.visibilityTimeout())
                .build();
    }

    private DeleteMessageRequest getDeleteMessageRequest(String receiptHandle) {
        return DeleteMessageRequest.builder()
                .queueUrl(properties.queueUrl())
                .receiptHandle(receiptHandle)
                .build();
    }
{{^lombok}}

    public static class SqsListenerBuilder {
        private SqsAsyncClient client;
        private SqsProperties properties;
        private Function<Message, Mono<Void>> processor;

        SqsListenerBuilder() {
        }

        public SqsListener.SqsListenerBuilder client(final SqsAsyncClient client) {
            this.client = client;
            return this;
        }

        public SqsListener.SqsListenerBuilder properties(final SqsProperties properties) {
            this.properties = properties;
            return this;
        }

        public SqsListener.SqsListenerBuilder processor(final Function<Message, Mono<Void>> processor) {
            this.processor = processor;
            return this;
        }

        public SqsListener build() {
            return new SqsListener(this.client, this.properties, this.processor);
        }

    }

    public static SqsListener.SqsListenerBuilder builder() {
        return new SqsListener.SqsListenerBuilder();
    }
{{/lombok}}
}
