package {{package}}.sqs.listener;

{{#lombok}}
import lombok.RequiredArgsConstructor;
{{/lombok}}
import org.springframework.stereotype.Service;
import reactor.core.publisher.Mono;
import software.amazon.awssdk.services.sqs.model.Message;

import java.util.function.Function;

@Service
{{#lombok}}
@RequiredArgsConstructor
{{/lombok}}
public class SQSProcessor implements Function<Message, Mono<Void>> {
    // private final MyUseCase myUseCase;
{{^lombok}}

    public SQSProcessor(/*MyUseCase myUseCase*/) {
        //this.myUseCase = myUseCase;
    }
{{/lombok}}

    @Override
    public Mono<Void> apply(Message message) {
        System.out.println(message.body());
        return Mono.empty();
        // return myUseCase.doAny(message.body());
    }
}
