dependencies {
    implementation project(':model')
    implementation project(':usecase')
    implementation 'io.projectreactor.kafka:reactor-kafka'
    implementation 'org.springframework.kafka:spring-kafka'
    implementation 'org.springframework.boot:spring-boot-autoconfigure'
    implementation 'org.springframework.boot:spring-boot'
    implementation 'org.apache.logging.log4j:log4j-api'

    implementation 'io.apicurio:apicurio-registry-serdes-jsonschema-serde:2.5.11.Final'
    implementation 'io.apicurio:apicurio-registry-rest-client:1.3.2.Final'
    implementation 'io.apicurio:apicurio-registry:3.0.6'
}
