package {{package}}.model.topiccredentials;

public record ConsumerCredentials(String clientId,
                                  String clientSecret,
                                  String userPoolId,
                                  String tokenEndpointUri,
                                  String consumerScope,
                                  String grantType) {
}
