package {{package}}.model.topiccredentials;

import lombok.Builder;
import lombok.Data;

@Data
@Builder(toBuilder = true)
public class ConsumerCredentials {
    private String clientId;
    private String clientSecret; 
    private String userPoolId; 
    private String tokenEndpointUri; 
    private String consumerScope; 
    private String grantType; 
}
