package {{package}}.rsocket.config;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.http.MediaType;
import org.springframework.http.codec.cbor.JacksonCborDecoder;
import org.springframework.http.codec.cbor.JacksonCborEncoder;
import org.springframework.messaging.rsocket.RSocketRequester;
import org.springframework.messaging.rsocket.RSocketStrategies;

@Configuration
public class RequesterConfig {

    @Bean
    public RSocketRequester rSocketRequester(RSocketStrategies rSocketStrategies) {
        RSocketStrategies strategies = RSocketStrategies.builder()
            .encoders(encoders -> encoders.add(new JacksonCborEncoder()))
            .decoders(decoders -> decoders.add(new JacksonCborDecoder()))
            .build();
        return RSocketRequester.builder()
            .rsocketStrategies(strategies)
            .dataMimeType(MediaType.APPLICATION_CBOR)
            .tcp("localhost",7000); // server IP or DNS, and port
    }

}
