package {{package}}.rsocket.config

import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration
import org.springframework.core.codec.Decoder
import org.springframework.core.codec.Encoder
import org.springframework.http.MediaType
import org.springframework.http.codec.cbor.Jackson2CborDecoder
import org.springframework.http.codec.cbor.Jackson2CborEncoder
import org.springframework.messaging.rsocket.RSocketRequester
import org.springframework.messaging.rsocket.RSocketStrategies

@Configuration
open class RequesterConfig {
    @Bean
    open fun rSocketRequester(rSocketStrategies: RSocketStrategies?): RSocketRequester {
        val strategies = RSocketStrategies.builder()
            .encoders { encoders: MutableList<Encoder<*>?> ->
                encoders.add(
                    Jackson2CborEncoder()
                )
            }
            .decoders { decoders: MutableList<Decoder<*>?> ->
                decoders.add(
                    Jackson2CborDecoder()
                )
            }
            .build()
        return RSocketRequester.builder()
            .rsocketStrategies(strategies)
            .dataMimeType(MediaType.APPLICATION_CBOR)
            .tcp("localhost", 7000) // server IP or DNS, and port
    }
}
