package {{package}}.mongo.config;

{{#include-secret}}
    {{#lombok}}
import lombok.AllArgsConstructor;
import lombok.NoArgsConstructor;
import lombok.Setter;
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
import lombok.Builder;
import lombok.Getter;
    {{/lombok}}
{{/include-secret}}
{{#include-secret}}
    {{#lombok}}
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
@Builder
@Getter
    {{/lombok}}
{{/include-secret}}
public class MongoDBSecret {
private {{^include-secret}}final {{/include-secret}}String uri;

{{^lombok}}
    public MongoDBSecret(String uri) {
    this.uri = uri;
    }

    public String getUri() {
    return uri;
    }

    @Override
    public String toString() {
    return "MongoDBSecret{" +
    "uri='" + uri + '\'' +
    '}';
    }
{{/lombok}}

}
