package {{package}}.mongo.config;

{{#include-secret}}
import lombok.Data;
{{/include-secret}}
{{^include-secret}}
import lombok.Builder;
import lombok.Getter;
{{/include-secret}}

{{#include-secret}}
@Data
{{/include-secret}}
{{^include-secret}}
@Builder
@Getter
{{/include-secret}}
public class MongoDBSecret {
    private {{^include-secret}}final {{/include-secret}}String uri;
}
