package {{package}}.mongo.config;

{{#include-secret}}
    {{#lombok}}
import lombok.Data;
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
import lombok.Builder;
import lombok.Getter;
    {{/lombok}}
{{/include-secret}}
{{#include-secret}}
    {{#lombok}}
@Data
    {{/lombok}}
{{/include-secret}}
{{^include-secret}}
    {{#lombok}}
@Builder
@Getter
    {{/lombok}}
{{/include-secret}}
class MongoDBSecret {
private {{^include-secret}}val {{/include-secret}} uri :String;

{{^lombok}}
    fun MongoDBSecret(val uri :String) {
    this.uri = uri;
    }

    fun  getUri() :String{
    return uri;
    }

    @Override
    fun  toString() :String{
    return "MongoDBSecret{" +
    "uri='" + uri + '\'' +
    '}';
    }
{{/lombok}}

}
