package {{package}}.model.a2a;

{{#lombok}}
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
{{/lombok}}

{{#lombok}}
@Data
@Builder(toBuilder = true)
@NoArgsConstructor
@AllArgsConstructor
{{/lombok}}
public class SendMessageResponse {
    private Message message;
    private Task task;

{{^lombok}}
    public SendMessageResponse() {}

    public SendMessageResponse(Message message, Task task) {
        this.message = message;
        this.task = task;
    }

    public Message getMessage() { return message; }
    public void setMessage(Message message) { this.message = message; }
    public Task getTask() { return task; }
    public void setTask(Task task) { this.task = task; }
{{/lombok}}
}
