package {{package}}.consumer.config

import okhttp3.OkHttpClient
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration
import com.fasterxml.jackson.databind.ObjectMapper

@Configuration
open class RestConsumerConfig {
    @Bean
    open fun getHttpClient(): OkHttpClient {
        return OkHttpClient()
    }

    @Bean
    open fun getObjectMapper(): ObjectMapper {
        return ObjectMapper()
    }
}
