server:
  port: 8080
spring:
  application:
    name: "exampleDynamoDB"
  devtools:
    add-properties: false
  profiles:
    include: null

management:
  endpoint:
    health:
      enabled: true
      show-details: never
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health, liveness, readiness
      base-path: /
      path-mapping:
        health: health
        liveness: liveness
        readiness: readiness

aws:
  region: "us-east-1"
  access-key: "test"
  secret-key: "test"
  dynamodb:
    endpoint: "https://localhost.localstack.cloud:4566"
