dependencies {
    implementation project(':model')
    implementation 'org.reactivecommons:async-commons-starter:{{asyncCommonsStarterVersion}}'
    implementation 'org.springframework:spring-context'
}
