dependencies {
    implementation project(':model')
    {{#rabbitmq}}
    implementation 'org.reactivecommons:async-commons-rabbit-starter:{{REACTIVE_COMMONS_VERSION}}'
    {{/rabbitmq}}
    {{#kafka}}
    implementation 'org.reactivecommons:async-kafka-starter:{{REACTIVE_COMMONS_VERSION}}'
    {{/kafka}}
    implementation 'org.springframework:spring-context'
}
