dependencies {
    implementation project(':model')
    {{#eda}}
    implementation 'io.cloudevents:cloudevents-json-jackson:{{CLOUD_EVENTS_VERSION}}'
    {{/eda}}
    {{#rabbitmq}}
    implementation 'org.reactivecommons:async-commons-rabbit-starter:{{REACTIVE_COMMONS_VERSION}}'
    {{/rabbitmq}}
    {{#kafka}}
    implementation 'org.reactivecommons:async-kafka-starter:{{REACTIVE_COMMONS_VERSION}}'
    {{/kafka}}
    implementation 'org.springframework:spring-context'
}
