dependencies {
    implementation project(':model')
    implementation 'org.springframework:spring-context'
    implementation 'org.springframework.boot:spring-boot-starter-webmvc'
    implementation 'io.github.resilience4j:resilience4j-spring-boot3:{{RESILIENCE_4J_VERSION}}'
    testImplementation 'com.squareup.okhttp3:mockwebserver:{{OKHTTP_VERSION}}'
}
