dependencies {
    implementation(project(":model"))
    implementation("com.squareup.okhttp3:okhttp:{{OKHTTP_VERSION}}")
    testImplementation("com.squareup.okhttp3:mockwebserver:{{OKHTTP_VERSION}}")
    implementation("com.fasterxml.jackson.core:jackson-databind")
}
