dependencies {
    implementation project(':model')
    implementation 'software.amazon.awssdk:kms'
    implementation 'org.springframework:spring-context'
    implementation 'org.springframework.boot:spring-boot-starter'
}
