package {{package}}.dynamodb.config

import com.amazonaws.auth.AWSStaticCredentialsProvider
import com.amazonaws.auth.BasicAWSCredentials
import com.amazonaws.client.builder.AwsClientBuilder.EndpointConfiguration
import com.amazonaws.services.dynamodbv2.AmazonDynamoDB
import com.amazonaws.services.dynamodbv2.AmazonDynamoDBClientBuilder
import org.springframework.beans.factory.annotation.Value
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration

@Configuration
open class DynamoDBConfig {
    @Bean
    open fun amazonDynamoDB(
        @Value("\${aws.access-key}") accessKey: String?,
        @Value("\${aws.secret-key}") secretKey: String?,
        @Value("\${aws.dynamodb.endpoint}") endpoint: String?
    ): AmazonDynamoDB {
        return AmazonDynamoDBClientBuilder
            .standard()
            .withCredentials(AWSStaticCredentialsProvider(BasicAWSCredentials(accessKey, secretKey)))
            .withEndpointConfiguration(EndpointConfiguration(endpoint, null))
            .build()
    }
}
