dependencies {
    implementation project(':model')
    implementation project(':usecase')
    implementation 'org.springframework:spring-context'
    implementation 'tools.jackson.core:jackson-databind'
    implementation "org.springframework.boot:spring-boot-starter-validation"
    implementation "org.springframework.boot:spring-boot-starter-actuator"

    // Spring AI BOM
    implementation platform("org.springframework.ai:spring-ai-bom:{{SPRING_AI_VERSION}}")

    // MCP Server WebFlux
    implementation "org.springframework.ai:spring-ai-mcp"
    implementation "org.springframework.ai:spring-ai-starter-mcp-server-webflux"

    {{#mcp-enable-audit}}
    // AOP for Audit
    implementation 'org.springframework.boot:spring-boot-starter-aspectj'
    {{/mcp-enable-audit}}

    {{#mcp-enable-security}}
    // Security
    implementation 'org.springaicommunity:mcp-server-security:{{SPRING_MCP_SECURITY_VERSION}}'
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.boot:spring-boot-starter-security-oauth2-resource-server'
    {{/mcp-enable-security}}
    
    {{#mcp-enable-audit}}
    {{^mcp-enable-security}}
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.boot:spring-boot-starter-security-oauth2-resource-server'
    {{/mcp-enable-security}}
    {{/mcp-enable-audit}}

    // Test
    testImplementation "org.springframework.ai:spring-ai-test"
}
