dependencies {
    implementation project(':model')
    implementation project(':usecase')
    implementation 'org.springframework:spring-context'
    implementation platform("org.springframework.ai:spring-ai-bom:{{SPRING_AI_VERSION}}")
    implementation "org.springframework.ai:spring-ai-mcp"
    implementation "org.springframework.ai:spring-ai-starter-mcp-server-webflux"
    implementation "org.springframework.boot:spring-boot-starter-webflux"
    implementation 'tools.jackson.core:jackson-databind'
}
