package {{package}}.mongo

import org.springframework.data.mongodb.repository.ReactiveMongoRepository
import org.springframework.data.repository.query.ReactiveQueryByExampleExecutor

interface MongoDBRepository : ReactiveMongoRepository<Any?, String?>, ReactiveQueryByExampleExecutor<Any?>
