buildscript {
	ext {
		cleanArchitectureVersion = '{{pluginVersion}}'
		springBootVersion = '{{springBootVersion}}'
		springCloudVersion = '{{springCloudVersion}}'
		sonarVersion = '{{sonarVersion}}'
		{{#jacoco}}
		jacocoVersion = '{{jacocoVersion}}'
		{{/jacoco}}
		{{#cobertura}}
		coberturaVersion = '{{coberturaVersion}}'
		{{/cobertura}}
	}
}

plugins {
	id 'co.com.bancolombia.cleanArchitecture' version "${cleanArchitectureVersion}"
	id 'org.springframework.boot' version "${springBootVersion}"
	id 'org.sonarqube' version "${sonarVersion}"
	{{#jacoco}}
	id 'jacoco'
	{{/jacoco}}
	{{#cobertura}}
	id 'net.saliman.cobertura' version "${coberturaVersion}"
	{{/cobertura}}
}

sonarqube {
	properties {
		property "sonar.sourceEnconding", "UTF-8"
	}
}
apply from: './main.gradle'
