plugins {
	id 'co.com.bancolombia.cleanArchitecture'
    {{#example}}
    id "org.owasp.dependencycheck" version "{{DEPENDENCY_CHECK_VERSION}}" apply false
    {{/example}}
	id 'org.springframework.boot' apply false
    id 'org.sonarqube'
    {{#mutation}}
    id 'info.solidsoft.pitest'
    {{/mutation}}
}

allprojects {
    repositories {
        {{#example}}
        mavenLocal()
        {{/example}}
        mavenCentral()
    }
    dependencies {
    }
    // Force dependency versions to address reported vulnerabilities.
    configurations.configureEach {
        resolutionStrategy.eachDependency { DependencyResolveDetails details ->
            if (details.requested.group == 'com.fasterxml.jackson.core' && details.requested.name == 'jackson-core') {
                details.useVersion("{{JACKSON_2_VERSION}}")
            }
            if (details.requested.group == 'tools.jackson.core' && details.requested.name == 'jackson-core') {
                details.useVersion("{{JACKSON_VERSION}}")
            }
        }
    }
}

subprojects {
    // Remove once it has been updated in Spring Boot
    ext['jackson-2-bom.version'] = "{{JACKSON_2_VERSION}}"
    ext['jackson-bom.version'] = "{{JACKSON_VERSION}}"
}

{{#example}}

sonar {
    properties {
        property "sonar.organization", "grupo-bancolombia"
        property "sonar.projectKey", "bancolombia_scaffold-clean-architecture-generated{{^reactive}}-i{{/reactive}}"
        property "sonar.host.url", "https://sonarcloud.io/"
    }
}
{{/example}}