plugins {
    id("co.com.bancolombia.cleanArchitecture") version "{{PLUGIN_VERSION}}"
    id("io.spring.dependency-management") version "1.1.3"
    id("org.springframework.boot") version "{{SPRING_BOOT_VERSION}}" apply false
    id("org.sonarqube") version "{{SONAR_VERSION}}" apply true
{{#jacoco }}
    id("jacoco") apply true
{{/jacoco }}
    kotlin("jvm") version "{{KOTLIN_VERSION}}"
    kotlin("plugin.spring") version "{{KOTLIN_VERSION}}"
}

allprojects {
    repositories {
        mavenCentral()
        maven { url = uri("https://repo.spring.io/milestone") }
        maven { url = uri("https://repo.spring.io/snapshot") }
    }
}

java {
    sourceCompatibility = JavaVersion.{{javaVersion}}
}

tasks.withType<org.jetbrains.kotlin.gradle.tasks.KotlinCompile>().all {
    kotlinOptions {
        freeCompilerArgs += "-Xjsr305=strict"
        jvmTarget = JavaVersion.{{javaVersion}}.toString()
    }
}

sonarqube {
    val modules = subprojects.map { subproject ->
        subproject.projectDir.toString().replace(project.projectDir.toString() + "/", "")
    }
    properties {
        property("sonar.sourceEncoding", "UTF-8")
        property("sonar.modules", modules.joinToString(","))
        property(
            "sonar.sources",
            "src,deployment,settings.gradle.kts,build.gradle.kts,${modules.joinToString(",") { module -> "${module}/build.gradle.kts" }}"
        )
        property("sonar.exclusions", "**/MainApplication.kt")
        property("sonar.test", "src/test")
        property("sonar.java.binaries", "{{sonar.java.binaries}}")
        property("sonar.junit.reportsPath", "{{sonar.junit.reportsPaths}}")
        property("sonar.java.coveragePlugin", "jacoco")
        property(
            "sonar.coverage.jacoco.xmlReportPaths",
            "build/reports/jacoco/test/jacocoTestReport.xml"
        )
    }
}

subprojects {
    apply(plugin = "kotlin")
{{#jacoco}}
    apply(plugin = "jacoco")
{{/jacoco }}
    apply(plugin = "io.spring.dependency-management")
    dependencies {
{{#reactive}}
        implementation("io.projectreactor:reactor-core")
        implementation("io.projectreactor.addons:reactor-extra")
        testImplementation("io.projectreactor:reactor-test")
{{/reactive}}
{{#lombok}}
        compileOnly("org.projectlombok:lombok:{{LOMBOK_VERSION}}")
        annotationProcessor("org.projectlombok:lombok:{{LOMBOK_VERSION}}")
        testCompileOnly("org.projectlombok:lombok:{{LOMBOK_VERSION}}")
        testAnnotationProcessor("org.projectlombok:lombok:{{LOMBOK_VERSION}}")
{{/lombok}}
        implementation(platform("org.springframework.boot:spring-boot-dependencies:{{SPRING_BOOT_VERSION}}"))
        implementation("org.springframework.boot:spring-boot-starter")
        implementation("org.jetbrains.kotlinx:kotlinx-coroutines-core:1.7.3")
        implementation("org.jetbrains.kotlinx:kotlinx-coroutines-reactor:1.7.3")
        implementation("org.jetbrains.kotlin:kotlin-reflect")
        implementation("org.jetbrains.kotlin:kotlin-stdlib-jdk8")
        testImplementation("org.springframework.boot:spring-boot-starter-test")
    }
{{#jacoco}}
   project.tasks.test.get().finalizedBy(project.tasks.jacocoTestReport)
   project.tasks.jacocoTestReport {
       dependsOn(project.tasks.test)
       reports {
           xml.required = true
           xml.outputLocation = layout.buildDirectory.file("reports/jacoco.xml")
           csv.required = false
           html.outputLocation = layout.buildDirectory.dir("reports/jacocoHtml")
       }
   }
{{/jacoco }}
}

{{#jacoco}}
jacoco {
    toolVersion = "{{JACOCO_VERSION}}"
    reportsDirectory = layout.buildDirectory.dir("reports")
}

tasks.withType<JacocoReport> {
    dependsOn(subprojects.map { project -> project.tasks.jacocoTestReport })
    additionalSourceDirs.setFrom(files(subprojects.map { project -> project.sourceSets.main.get().allSource.srcDirs }))
    sourceDirectories.setFrom(files(subprojects.map { project -> project.sourceSets.main.get().allSource.srcDirs }))
    classDirectories.setFrom(files(subprojects.map { project -> project.sourceSets.main.get().output }))
    executionData.setFrom(
        project.fileTree(project.buildDir) {
            include("**/build/jacoco/test.exec")
        }
    )
    reports {
        xml.required = true
        csv.required = false
        html.required = true
    }
}
{{/jacoco}}
