package={{package}}
systemProp.version={{PLUGIN_VERSION}}
javaVersion={{javaVersion}}
reactive={{reactive}}
lombok={{lombok}}
metrics={{metrics}}
# comma separated module names to exclude completely from the Gradle build
excludeModule=
# comma separated module names to exclude only as app-service dependencies
excludeModuleFromApp=
language=java
org.gradle.parallel=true
org.gradle.caching=true
org.gradle.configuration-cache=true
org.gradle.configuration-cache.parallel=true
org.gradle.configuration-cache.integrity-check=false
org.gradle.configuration-cache.read-only=false
systemProp.sonar.gradle.skipCompile=true
{{#example}}
example=true
{{/example}}
