package={{package}}
systemProp.version={{PLUGIN_VERSION}}
reactive={{reactive}}
lombok={{lombok}}
metrics={{metrics}}
language={{language}}
org.gradle.parallel=true
systemProp.sonar.gradle.skipCompile=true
{{#example}}
example=true
{{/example}}
