package={{package}}
systemProp.version={{PLUGIN_VERSION}}
reactive={{reactive}}
lombok={{lombok}}
metrics={{metrics}}
language=java
org.gradle.parallel=true
org.gradle.caching=true
org.gradle.configuration-cache=true
org.gradle.configuration-cache.parallel=true
org.gradle.configuration-cache.integrity-check=false
org.gradle.configuration-cache.read-only=false
systemProp.sonar.gradle.skipCompile=true
{{#example}}
example=true
{{/example}}
