pluginManagement {
    repositories {
        {{#example}}
        mavenLocal()
        {{/example}}
        gradlePluginPortal()
    }
}

plugins {
    id 'co.com.bancolombia.cleanArchitecture.settings' version '{{PLUGIN_VERSION}}'
}

rootProject.name = '{{projectName}}'
