package {{package}}.api

import org.springframework.stereotype.Component
import org.springframework.web.reactive.function.server.ServerRequest
import org.springframework.web.reactive.function.server.ServerResponse
import reactor.core.publisher.Mono

@Component
class Handler//(private val useCase: UseCase)
{
    fun listenGETUseCase(serverRequest: ServerRequest): Mono<ServerResponse>{
        // usecase.logic()
        return ServerResponse.ok().body("", String::class.java)
    }

    fun listenGETOtherUseCase(serverRequest: ServerRequest): Mono<ServerResponse> {
        // useCase2.logic()
        return ServerResponse.ok().body("", String::class.java)
    }

    fun listenPOSTUseCase(serverRequest: ServerRequest): Mono<ServerResponse> {
         // usecase.logic()
         return ServerResponse.ok().body("", String::class.java)
    }
}
