dependencies {
    implementation project(':model')
    implementation 'org.springframework.boot:spring-boot-autoconfigure'
    implementation 'org.apache.logging.log4j:log4j-api'
    implementation 'software.amazon.awssdk:sqs'
}
