package {{package}}.sqs.sender;

import {{package}}.sqs.sender.config.SQSSenderProperties;
{{#lombok}}
import lombok.AllArgsConstructor;
import lombok.extern.log4j.Log4j2;
{{/lombok}}
import org.springframework.stereotype.Service;
import reactor.core.publisher.Mono;
import software.amazon.awssdk.services.sqs.SqsAsyncClient;
import software.amazon.awssdk.services.sqs.model.SendMessageRequest;
import software.amazon.awssdk.services.sqs.model.SendMessageResponse;

@Service
{{#lombok}}
@Log4j2
@AllArgsConstructor
{{/lombok}}
public class SQSSender /*implements SomeGateway*/ {
{{^lombok}}
    private static final org.apache.logging.log4j.Logger log = org.apache.logging.log4j.LogManager.getLogger(SQSSender.class);
{{/lombok}}
    private final SQSSenderProperties properties;
    private final SqsAsyncClient client;
{{^lombok}}

    public SQSSender(SqsAsyncClient client, SQSSenderProperties properties) {
        this.client = client;
        this.properties = properties
    }
{{/lombok}}

    public Mono<String> send(String message) {
        return Mono.fromCallable(() -> buildRequest(message))
                .flatMap(request -> Mono.fromFuture(client.sendMessage(request)))
                .doOnNext(response -> log.debug("Message sent {}", response.messageId()))
                .map(SendMessageResponse::messageId);
    }

    private SendMessageRequest buildRequest(String message) {
        return SendMessageRequest.builder()
                .queueUrl(properties.getQueueUrl())
                .messageBody(message)
                .build();
    }
}
