package {{package}}.sqs.sender.config;

import lombok.Data
import org.springframework.boot.context.properties.ConfigurationProperties
import org.springframework.boot.context.properties.ConstructorBinding
import org.springframework.context.annotation.Configuration

@Data
@Configuration
@ConfigurationProperties(prefix = "adapter.sqs")
class SQSSenderProperties @ConstructorBinding constructor(
    val region: String,
    val queueUrl: String,
    val endpoint: String
)