dependencies {
    implementation project(':model')
    implementation 'org.springframework.boot:spring-boot-starter-data-redis'
    implementation 'jakarta.persistence:jakarta.persistence-api' // TODO: Check if it's still necessary

    {{#include-awssecrets}}
    implementation("com.github.bancolombia:aws-secrets-manager-sync:{{SECRETS_VERSION}}")
    {{/include-awssecrets}}
    {{#include-vaultsecrets}}
    implementation("com.github.bancolombia:vault-sync:{{SECRETS_VERSION}}")
    {{/include-vaultsecrets}}


    implementation 'org.reactivecommons.utils:object-mapper-api:{{REACTIVE_COMMONS_MAPPER_VERSION}}'

    testImplementation 'org.reactivecommons.utils:object-mapper:{{REACTIVE_COMMONS_MAPPER_VERSION}}'
}
