package {{package}}.redis.repository;

import org.springframework.data.keyvalue.repository.KeyValueRepository;
import org.springframework.data.repository.query.QueryByExampleExecutor;

public interface RedisRepository extends KeyValueRepository<ModelDTO/* change for adapter model */, String>, QueryByExampleExecutor<ModelDTO/* change for adapter model */> {
}
