package {{package}}.redis.repository;

import {{package}}.redis.repository.helper.RepositoryAdapterOperations;
import org.reactivecommons.utils.ObjectMapper;
import org.springframework.stereotype.Repository;

@Repository
class RedisRepositoryAdapter :RepositoryAdapterOperations<Any/* change for domain model */, Object/* change for adapter model */, String, RedisRepository>
// implements ModelRepository from domain
{

    fun RedisRepositoryAdapter(repository :RedisRepository, mapper :ObjectMapper) {
        /**
         *  Could be use mapper.mapBuilder if your domain model implement builder pattern
         *  super(repository, mapper, d -> mapper.mapBuilder(d,ObjectModel.ObjectModelBuilder.class).build());
         *  Or using mapper.map with the class of the object model
         */
        super(repository, mapper, d -> mapper.map(d, Object.class/* change for domain model */));
    }
}
