package {{package}}.redis.repository

import org.springframework.data.repository.CrudRepository
import org.springframework.data.repository.query.QueryByExampleExecutor

interface RedisRepository : CrudRepository<Any /* change for adapter model */, String>,
    QueryByExampleExecutor<Any /* change for adapter model */>
