package {{package}}.graphqlapi;

{{#lombok}}
import lombok.RequiredArgsConstructor;
{{/lombok}}
import org.springframework.graphql.data.method.annotation.Argument;
import org.springframework.graphql.data.method.annotation.MutationMapping;
import org.springframework.stereotype.Controller;
{{#reactive}}
import reactor.core.publisher.Mono;
{{/reactive}}

{{#lombok}}
@RequiredArgsConstructor
{{/lombok}}
@Controller
public class ApiMutations {

    //private final MyUseCase useCase;

{{^lombok}}
    //public ApiMutations(MyUseCase useCase){
    //    this.useCase = useCase;
    //}
{{/lombok}}

{{#reactive}}
    @MutationMapping
    public Mono<String> addSomething(@Argument("objectRequest") String objRequest/* change for object request */) {
        //return useCase.doAction(objRequest);
        return Mono.just("Hello world from graphql-api mutations " + objRequest);
    }
{{/reactive}}
{{^reactive}}
    @MutationMapping
    public String addSomething(@Argument("objectRequest") String objRequest/* change for object request */) {
        //return useCase.doAction(objRequest);
        return "Hello world from graphql-api mutations " + objRequest;
    }
{{/reactive}}
}