package {{package}}.graphqlapi;

import graphql.kickstart.tools.GraphQLQueryResolver;
{{#lombok}}
import lombok.RequiredArgsConstructor;
{{/lombok}}
import org.springframework.stereotype.Controller;

{{#lombok}}
    @RequiredArgsConstructor
{{/lombok}}
@Controller
/**
* To interact with the API make use of Playground in the "/playground" path, but remember,
* Playground ONLY must be used in dev or qa environments, not in production.
*/
class ApiQueries : GraphQLQueryResolver {

//  private val useCase: MyUseCase ;

{{^lombok}}
    fun ApiQueries(useCase: MyUseCase){
    this.useCase = useCase;
    }
{{/lombok}}

    fun getSomething(String objRequest/* change for object request */) : String {
//      return useCase.doAction(objRequest);
        return "Hello world from graphql-api queries " + objRequest;
    }
}