package {{package}}.graphqlapi;

import graphql.kickstart.tools.GraphQLMutationResolver;
{{#lombok}}
import lombok.RequiredArgsConstructor;
{{/lombok}}
import org.springframework.stereotype.Controller;

{{#lombok}}
@RequiredArgsConstructor
{{/lombok}}
@Controller
/**
* To interact with the API make use of Playground in the "/playground" path, but remember,
* Playground ONLY must be used in dev or qa environments, not in production.
*/
public class ApiMutations implements GraphQLMutationResolver {

//  private final MyUseCase useCase;

{{^lombok}}
    /*public ApiMutations(MyUseCase useCase){
        this.useCase = useCase;
    }*/
{{/lombok}}

    public String addSomething(String objRequest/* change for object request */) {
//      return useCase.doAction(objRequest);
        return "Hello world from graphql-api mutations " + objRequest;
    }
}