dependencies {
    compile project(':model')
    compile project(':usecase')
    compile 'org.springframework:spring-context'
    compile 'com.graphql-java-kickstart:graphql-spring-boot-starter:11.0.0'
    compile 'com.graphql-java-kickstart:playground-spring-boot-starter:11.0.0'
}
