dependencies {
    implementation project(':model')
    implementation project(':usecase')
    implementation 'org.springframework.boot:spring-boot-starter-webflux'
    implementation 'com.graphql-java-kickstart:graphql-spring-boot-starter:{{graphqlKickStartVersion}}'
}
