package {{package}}.config

import co.com.bancolombia.secretsmanager.api.GenericManagerAsync
import co.com.bancolombia.secretsmanager.config.AWSSecretsManagerConfig
import co.com.bancolombia.secretsmanager.connector.AWSSecretManagerConnectorAsync
import org.springframework.beans.factory.annotation.Value
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration
import software.amazon.awssdk.regions.Region


@Configuration
open class SecretsConfig {
  /*
    Use GenericManagerAsync bean in your reactive pipe.
    connector.getSecret("mySecretName", SecretModel.class).map(...);
  */
  @Bean
  open fun getSecretManager(@Value("\${aws.region}") region: String): GenericManagerAsync {
    return AWSSecretManagerConnectorAsync(getConfig(region))
  }

  private fun getConfig(region: String): AWSSecretsManagerConfig {
    return AWSSecretsManagerConfig.builder()
      .region(Region.of(region))
      .cacheSize(5) // TODO Set cache size
      .cacheSeconds(3600) // TODO Set cache seconds
      .build()
  }
}
