dependencies {
    implementation project(':model')

    implementation 'org.springframework.boot:spring-boot-starter-data-mongodb'
    implementation 'org.reactivecommons.utils:object-mapper-api:0.1.0'

    runtime 'de.flapdoodle.embed:de.flapdoodle.embed.mongo' // TODO: remove this dependency to connect to real database
    testCompile 'org.reactivecommons.utils:object-mapper:0.1.0'
}
