dependencies {
    implementation project(':model')
    implementation project(':mongo-repository-commons')
    implementation 'org.springframework.boot:spring-boot-starter-data-mongodb'
    implementation 'org.springframework:spring-context:5.2.0.RELEASE'
    implementation 'javax.persistence:javax.persistence-api:2.2'
}
