package {{package}}.mongo;

import org.springframework.data.mongodb.repository.MongoRepository;
import org.springframework.data.repository.query.QueryByExampleExecutor;

public interface MongoRepository extends MongoRepository<Object, String> , QueryByExampleExecutor<Object> {
}
