dependencies {
    implementation project(':model')
    implementation project(':usecase')
    implementation 'org.reactivecommons:async-kafka-starter:{{REACTIVE_COMMONS_VERSION}}'
    implementation 'io.cloudevents:cloudevents-core:{{CLOUD_EVENTS_VERSION}}'
    implementation 'org.springframework:spring-context'
}
