package {{package}}.kafka.consumer;

import {{package}}.kafka.consumer.handlers.TopicsHandler;
import org.reactivecommons.async.api.HandlerRegistry;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class HandlerRegistryConfiguration {

    @Bean
    public HandlerRegistry handlerRegistry(TopicsHandler events) {
        return HandlerRegistry.register()
                .listenTopic("event.test", events::handleMessage);
    }
}
