package {{package}}.api;
{{#lombok}}
import lombok.RequiredArgsConstructor;
{{/lombok}}
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
{{#task-param-authorize}}
import org.springframework.security.access.prepost.PreAuthorize;
{{/task-param-authorize}}

/**
 * API Rest controller.
 * 
 * Example of how to declare and use a use case:
 * <pre>
 * private final MyUseCase useCase;
 * 
 * public String commandName() {
 *     return useCase.execute();
 * }
 * </pre>
 */
@RestController
@RequestMapping(value = "/api", produces = MediaType.APPLICATION_JSON_VALUE)
{{#lombok}}
@RequiredArgsConstructor
{{/lombok}}
public class ApiRest {

{{^lombok}}
    //public ApiRest(MyUseCase useCase){
    //    this.useCase = useCase;
    //}
{{/lombok}}

    {{#task-param-authorize}}
    @PreAuthorize("hasRole('permission')")
    {{/task-param-authorize}}
    @GetMapping(path = "/{{#task-param-versioning-strategy-path}}{version}/{{/task-param-versioning-strategy-path}}usecase/path"{{#task-param-versioning-strategy-source}}, version = "1"{{/task-param-versioning-strategy-source}})
    public String commandName() {
        return "Value from use case v1";
    }

    {{#task-param-versioning-strategy-source}}
    {{#task-param-authorize}}
    @PreAuthorize("hasRole('permission')")
    {{/task-param-authorize}}
    @GetMapping(path = "/{{#task-param-versioning-strategy-path}}{version}/{{/task-param-versioning-strategy-path}}usecase/path"{{#task-param-versioning-strategy-source}}, version = "2"{{/task-param-versioning-strategy-source}})
    public String commandNameV2() {
        return "Value from use case v2";
    }
    {{/task-param-versioning-strategy-source}}
}
