dependencies {
    implementation(project(":usecase"))
    implementation(project(":model"))
    implementation("org.springframework.boot:spring-boot-starter-web")
{{^include-swagger}}
    implementation("org.springframework.boot:spring-boot-starter-actuator")
{{/include-swagger}}
{{#include-swagger}}
    //don't add "spring-boot-starter-actuator" with spring boot 2.6.x meanwhile bug exist in springfox-swagger2 !!
    implementation("io.springfox:springfox-swagger-ui:3.0.0")
    implementation("io.springfox:springfox-swagger2:3.0.0")
    implementation("org.springdoc:springdoc-openapi-ui:1.6.6")
    implementation("org.springdoc:springdoc-openapi-data-rest:1.6.5")
    implementation("org.springdoc:springdoc-openapi-kotlin:1.6.5")
{{/include-swagger}}
}
