dependencies {
    implementation project(':usecase')
    implementation project(':model')
    implementation 'org.springframework.boot:spring-boot-starter-web'
    implementation 'org.springframework.boot:spring-boot-starter-actuator'
    {{#metrics}}
    implementation 'io.micrometer:micrometer-registry-prometheus'
    {{/metrics}}
{{#include-swagger}}
    implementation 'org.springdoc:springdoc-openapi-starter-webmvc-ui:{{springdocopenapiVersion}}'
{{/include-swagger}}
}
