package {{package}}.api.config;

import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.boot.web.servlet.FilterRegistrationBean;
import org.springframework.core.Ordered;
import org.springframework.web.cors.CorsConfiguration;
import org.springframework.web.cors.UrlBasedCorsConfigurationSource;
import org.springframework.web.filter.CorsFilter;

import java.util.List;

import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertNotNull;
import static org.junit.jupiter.api.Assertions.assertTrue;

@SpringBootTest(classes = CorsConfig.class)
class CorsConfigTest {

    private CorsConfig corsConfig;

    @BeforeEach
    void setUp() {
        corsConfig = new CorsConfig();
    }

    @Test
    void testCorsFilter() {
        List<String> origins = List.of("http://example.com", "http://another.com");
        FilterRegistrationBean<CorsFilter> filterRegistrationBean = corsConfig.corsFilter(origins);

        CorsFilter corsFilter = filterRegistrationBean.getFilter();

        // Create a new UrlBasedCorsConfigurationSource to access the configuration
        CorsConfiguration config = new CorsConfiguration();
        config.setAllowCredentials(true);
        config.setAllowedOrigins(origins);
        config.setAllowedMethods(List.of("POST", "GET")); // TODO: Check others required methods
        config.setAllowedHeaders(List.of(CorsConfiguration.ALL));

        UrlBasedCorsConfigurationSource source = new UrlBasedCorsConfigurationSource();
        source.registerCorsConfiguration("/**", config);

        CorsConfiguration retrievedConfig = source.getCorsConfigurations().get("/**");

        assertNotNull(filterRegistrationBean);
        assertEquals(Ordered.HIGHEST_PRECEDENCE, filterRegistrationBean.getOrder());
        assertNotNull(corsFilter);
        assertNotNull(retrievedConfig);
        assertEquals(Boolean.TRUE, retrievedConfig.getAllowCredentials());
        assertEquals(List.of("http://example.com", "http://another.com"), retrievedConfig.getAllowedOrigins());
        assertEquals(List.of("POST", "GET"), retrievedConfig.getAllowedMethods());
        assertEquals(List.of(CorsConfiguration.ALL), retrievedConfig.getAllowedHeaders());
    }
}