package {{package}}.redis.template.helper;

import org.reactivecommons.utils.ObjectMapper;
import org.springframework.data.redis.connection.RedisConnectionFactory;
import org.springframework.data.redis.core.RedisTemplate;
import org.springframework.data.redis.serializer.Jackson2JsonRedisSerializer;

import java.lang.reflect.ParameterizedType;
import java.util.function.Function;

abstract class TemplateAdapterOperations<E, K, V> {
    const val template :RedisTemplate<K, V> ;
    const val dataClass :Class<V> ;
    protected val mapper :ObjectMapper;
    const val toEntityFn :Function<V, E> ;

    @SuppressWarnings("unchecked")
    fun TemplateAdapterOperations( connectionFactory :RedisConnectionFactory, mapper :ObjectMapper, toEntityFn :Function<V, E> ) {
        this.mapper = mapper;
        val genericSuperclass :ParameterizedType = (ParameterizedType) this.getClass().getGenericSuperclass();
        this.dataClass = (Class<V>) genericSuperclass.getActualTypeArguments()[2];
        this.toEntityFn = toEntityFn;

        template = RedisTemplate<>();
        template.setConnectionFactory(connectionFactory);
        template.setDefaultSerializer(new Jackson2JsonRedisSerializer<>(dataClass));
        template.afterPropertiesSet();
    }

    fun save( key :K,  entity :E) :E{
        template.opsForValue().set(key, toValue(entity));
        return entity;
    }

    fun save( key :K,  entity :E,  expirationMillis :long) :E {
        Val result :E  = save(key, entity);
        template.expire(key, Duration.ofMillis(expirationMillis));
        return result;
    }

    fun findById( key :K) :E {
        return toEntity(template.opsForValue().get(key));
    }

    protected toValue( entity :E) :V {
        return mapper.map(entity, dataClass);
    }

    protected toEntity( data :V) :E {
        return data != null ? toEntityFn.apply(data) : null;
    }

}
