dependencies {
    implementation project(':model')
    implementation 'org.springframework:spring-context'
    implementation 'com.github.bancolombia:aws-secrets-manager-async:{{SECRETS_VERSION}}'
    implementation 'software.amazon.awssdk:*'
}
