package {{package}}.model.{{modelName}}

{{#lombok}}
import lombok.Builder
import lombok.Data
import lombok.NoArgsConstructor

@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder(toBuilder = true)
{{/lombok}}
data class {{modelClassName}}(
  //val anyField : Any?
) {
  //fun anyMethod():Any? { return null }
}
