package {{package}}.model.{{modelName}};
{{#lombok}}
import lombok.Builder;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder(toBuilder = true)
{{/lombok}}
public class {{modelClassName}} {
{{^lombok}}
    public {{modelClassName}}(){}
{{/lombok}}
}
