package {{package}}.model.{{modelName}};
{{#lombok}}
import lombok.Builder;
import lombok.Data;

@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder(toBuilder = true)
{{/lombok}}
public class {{modelClassName}} {
{{^lombok}}
    public {{modelClassName}}(){}
{{/lombok}}
}
