package {{package}}.config

import co.com.bancolombia.secretsmanager.api.GenericManager
import co.com.bancolombia.secretsmanager.api.exceptions.SecretException
import co.com.bancolombia.secretsmanager.connector.AWSSecretManagerConnector
import org.springframework.beans.factory.annotation.Value
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration

@Configuration
open class SecretsConfig {

{{^include-secret}}
    @Bean
    @Throws(SecretException::class)
    open fun getSecret(
        @Value("\${aws.secretName}") secretName: String?,
        connector: GenericManager
    ): Any? {
        return connector.getSecret(
            secretName,
            Any::class.java
        ) // TODO Change the Object class for Secret model
    }
{{/include-secret}}

   @Bean
    open fun getSecretManager(@Value("\${aws.region}") region: String): GenericManager {
        return AWSSecretManagerConnector(region)
    }
}

