package {{package}}.config;

import co.com.bancolombia.commons.secretsmanager.connector.AbstractConnector;
import co.com.bancolombia.commons.secretsmanager.connector.clients.AWSSecretManagerConnector;
import co.com.bancolombia.commons.secretsmanager.manager.GenericManager;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class SecretsConfig {

    @Bean
    public GenericManager getSecretManager(@Value("${aws.region}") String region) {
        AbstractConnector connector = getConnector(region);
        return new GenericManager(connector);
    }

    protected AbstractConnector getConnector(String region) {
        return new AWSSecretManagerConnector(region);
    }
}
