package {{package}}.config;

import co.com.bancolombia.secretsmanager.api.GenericManager;
import co.com.bancolombia.secretsmanager.connector.AWSSecretManagerConnector;
import co.com.bancolombia.secretsmanager.api.exceptions.SecretException;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
class SecretsConfig {

{{^include-secret}}
  @Bean
  @Throws(SecretException::class)
  fun getSecret(secretName :@Value("${aws.secretName}") String, connector :GenericManager): Any {
    return connector.getSecret(secretName, Object.class); // TODO Change the Object class for Secret model
  throw SecretException()
  }
{{/include-secret}}

  @Bean
  fun  getSecretManager(region :@Value("${aws.region}") String): GenericManager {
    return new AWSSecretManagerConnector(region)
  }
}
