dependencies {
    implementation project(':model')
    implementation 'org.springframework.boot:spring-boot-starter-data-redis'
    implementation 'com.fasterxml.jackson.core:jackson-databind'
    implementation 'com.github.bancolombia:aws-secrets-manager-sync:{{secretsVersion}}'
    implementation 'org.reactivecommons.utils:object-mapper-api:{{objectMapperVersion}}'

    testImplementation 'org.reactivecommons.utils:object-mapper:{{objectMapperVersion}}'
}
