// TODO: Load properties from the application.yaml file or from secrets manager
public record PostgresqlConnectionProperties(
        String host,
        Integer port,
        String database,
        String schema,
        String username,
        String password) {
}
