dependencies {
    implementation project(':model')
    {{#include-local}}
        implementation 'com.github.bancolombia:bin-stash-local:{{binStashVersion}}'
    {{/include-local}}
    {{#include-centralized }}
        implementation 'com.github.bancolombia:bin-stash-centralized:{{binStashVersion}}'
    {{/include-centralized }}
    {{#include-hybrid}}
        implementation 'com.github.bancolombia:bin-stash-hybrid:{{binStashVersion}}'
    {{/include-hybrid}}
}
