dependencies {
    implementation project(':usecase')
    implementation project(':model')
    implementation 'org.springframework.boot:spring-boot-starter-webflux'
    implementation 'org.springframework.boot:spring-boot-starter-actuator'
    testImplementation 'org.springframework.boot:spring-boot-starter-webflux-test'
    {{#metrics}}
    implementation 'io.micrometer:micrometer-registry-prometheus'
    {{/metrics}}
{{#include-swagger}}
    implementation 'org.springdoc:springdoc-openapi-starter-webflux-ui:{{SPRING_DOC_OPENAPI_VERSION}}'
{{/include-swagger}}
{{#task-param-authorize}}
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.boot:spring-boot-starter-security-oauth2-resource-server'
{{/task-param-authorize}}
}
