name: 'scaffold-clean-architecture-docs'
on:
  release:
    types:
      - released
  push:
    branches:
      - master
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Next steps will only run if generation code templates have been changed
      - name: Detect changes in generated code
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            docs:
              - 'docs/**'
      - name: Set release mode
        if: github.event_name == 'release'
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV
      - name: Setup Node.js
        if: github.event_name == 'release' || steps.changes.outputs.docs == 'true'
        uses: actions/setup-node@v4
        with:
          node-version-file: 'docs/.nvmrc'
      - name: Install dependencies
        if: github.event_name == 'release' || steps.changes.outputs.docs == 'true'
        run: npm ci
        working-directory: docs
      - name: Build docs
        if: github.event_name == 'release' || steps.changes.outputs.docs == 'true'
        run: npm run build
        working-directory: docs
      - name: Upload artifact
        if: github.event_name == 'release' || steps.changes.outputs.docs == 'true'
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs/build/'
      - name: Deploy to GitHub Pages
        if: github.event_name == 'release' || steps.changes.outputs.docs == 'true'
        id: deployment
        uses: actions/deploy-pages@v4