name: "gradle-actions"
on:
  push:
    branches:
      - master
      - feature/*
      - fix/*
  pull_request:
    branches:
      - master
jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Generate a token of Github APP
        id: generate_token
        if: github.ref == 'refs/heads/master'
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID_ADMIN_GITHUB }}
          private_key: ${{ secrets.APP_PRIVATE_KEY_ADMIN_GITHUB }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: github.ref == 'refs/heads/master'
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: github.ref != 'refs/heads/master'

      - name: Verify Conventional Commits
        uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up NodeJS
        if: github.ref == 'refs/heads/master'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
      - name: Set up Semantic Release
        if: github.ref == 'refs/heads/master'
        run: npm -g install @semantic-release/git semantic-release@25.0.2
      - name: Semantic Release
        if: github.ref == 'refs/heads/master'
        run: npx semantic-release@25.0.2
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
      - name: Set up JDK 25
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: 25
      - name: Validate code formatting
        run: ./gradlew spotlessCheck
      - name: Execute build test and report
        run: ./gradlew jacocoTestReport --refresh-dependencies --no-daemon --continue
      - name: Copy the reportTest to codeCoverage
        run: cp build/reports/jacoco/report.xml jacoco.xml || echo "Code coverage failed"
      - name: Push codeCoverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
      - name: Run sonar
        if: github.event.pull_request.head.repo.fork == false && !startsWith(github.event.pull_request.head.ref, 'dependabot/')
        run: ./gradlew sonar --stacktrace
          -Dsonar.token=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Next steps will only run if generation code templates have been changed
      - name: Detect changes in generated code
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            templates:
              - 'src/main/resources/**'
              - 'src/main/java/co/com/bancolombia/Constants.java'
              - 'src/main/java/co/com/bancolombia/factory/**'
      # Generated code Analysis
      - name: Publish local
        if: steps.changes.outputs.templates == 'true'
        run: ./sh_publish_plugin_local.sh
      # Set up Gradle
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-version: 9.2.1
      # Generated code reactive
      - name: Generate reactive project to scan
        if: steps.changes.outputs.templates == 'true'
        run: ./sh_generate_project.sh reactive
      - name: Scan generated reactive project dependencies
        if: steps.changes.outputs.templates == 'true'
        working-directory: ./build/toscan/reactive
        run: ./gradlew build it
#        run: ./gradlew build dependencyCheckAnalyze && ./gradlew it && cat applications/app-service/build/reports/dependency-check-sonar.json
      - name: Sonar analysis for generated reactive project
        if: github.event.pull_request.head.repo.fork == false && steps.changes.outputs.templates == 'true'
        working-directory: ./build/toscan/reactive
        run: ./gradlew sonar --stacktrace
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      # Generated code imperative
      - name: Generate imperative project to scan
        if: steps.changes.outputs.templates == 'true'
        run: ./sh_generate_project.sh imperative
      - name: Scan generated imperative project dependencies
        if: steps.changes.outputs.templates == 'true'
        working-directory: ./build/toscan/imperative
        run: ./gradlew build it
#        run: ./gradlew build dependencyCheckAnalyze && ./gradlew it && cat applications/app-service/build/reports/dependency-check-sonar.json
      - name: Sonar analysis for generated imperative project
        if: github.event.pull_request.head.repo.fork == false && steps.changes.outputs.templates == 'true'
        working-directory: ./build/toscan/imperative
        run: ./gradlew sonar --stacktrace
          -Dsonar.token=${{ secrets.SONAR_TOKEN_GENERATED_I }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
