name: updater
on:
  schedule:
    - cron: '0 12 * * 1' # every Monday at 07:00 Colombia Time
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f086349bfa2bd1361f7909c78558e816508cdc10 # v2.8.0
        with:
          egress-policy: audit

      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID_ADMIN_GITHUB }}
          private_key: ${{ secrets.APP_PRIVATE_KEY_ADMIN_GITHUB }}
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          ref: master
          token: ${{ steps.generate_token.outputs.token }}
      - name: Set up JDK 17
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          distribution: 'temurin' 
          java-version: 17
      - name: Check for updates
        run: ./gradlew ci-updater goJF
      - name: Check for changes
        id: git_changes
        run: |
          git diff --name-only
          if [[ $(git diff --name-only) ]]; then
            echo "Changes detected!"
            echo "HAS_CHANGES=true" >> $GITHUB_ENV
          else
            echo "No changes detected!"
            echo "HAS_CHANGES=false" >> $GITHUB_ENV
          fi
      - name: Create Pull Request
        if: env.HAS_CHANGES == 'true'
        uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c # v6.1.0
        with:
          token: ${{ steps.generate_token.outputs.token }}
          committer: Dependencies Bot <release-bot@bancolombia.com.co>
          commit-message: 'fix(deps): update dependencies'
          title: 'fix(deps): update dependencies'
          body: 'This PR updates dependencies to latest versions'
          branch: 'feature/autoupdate-deps'
          base: 'master'
          labels: 'dependencies'
          reviewers: 'juancgalvis,santitigaga'
