name: updater
on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1' # every Monday at 07:00 Colombia Time
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID_ADMIN_GITHUB }}
          private_key: ${{ secrets.APP_PRIVATE_KEY_ADMIN_GITHUB }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: master
          token: ${{ steps.generate_token.outputs.token }}
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin' 
          java-version: 17
      - name: Check for updates
        run: ./gradlew ci-updater spotlessApply
      - name: Check for changes
        id: git_changes
        run: |
          git diff --name-only
          if [[ $(git diff --name-only) ]]; then
            echo "Changes detected!"
            echo "HAS_CHANGES=true" >> $GITHUB_ENV
          else
            echo "No changes detected!"
            echo "HAS_CHANGES=false" >> $GITHUB_ENV
          fi
      - name: Create Pull Request
        if: env.HAS_CHANGES == 'true'
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ steps.generate_token.outputs.token }}
          committer: Dependencies Bot <release-bot@bancolombia.com.co>
          commit-message: 'fix(deps): update dependencies'
          title: 'fix(deps): update dependencies'
          body: 'This PR updates dependencies to latest versions'
          branch: 'feature/autoupdate-deps'
          base: 'master'
          labels: 'dependencies'
          reviewers: 'juancgalvis,luisgomez29'
