name: updater
on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1' # every Monday at 07:00 Colombia Time
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID_ADMIN_GITHUB }}
          private_key: ${{ secrets.APP_PRIVATE_KEY_ADMIN_GITHUB }}
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          ref: master
          token: ${{ steps.generate_token.outputs.token }}
      - name: Set up JDK 17
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'temurin' 
          java-version: 17
      - name: Check for updates
        run: ./gradlew ci-updater goJF
      - name: Check for changes
        id: git_changes
        run: |
          git diff --name-only
          if [[ $(git diff --name-only) ]]; then
            echo "Changes detected!"
            echo "HAS_CHANGES=true" >> $GITHUB_ENV
          else
            echo "No changes detected!"
            echo "HAS_CHANGES=false" >> $GITHUB_ENV
          fi
      - name: Create Pull Request
        if: env.HAS_CHANGES == 'true'
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.generate_token.outputs.token }}
          committer: Dependencies Bot <release-bot@bancolombia.com.co>
          commit-message: 'fix(deps): update dependencies'
          title: 'fix(deps): update dependencies'
          body: 'This PR updates dependencies to latest versions'
          branch: 'feature/autoupdate-deps'
          base: 'master'
          labels: 'dependencies'
          reviewers: 'juancgalvis,santitigaga'
