name: updater
on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1' # every Monday at 07:00 Colombia Time
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID_ADMIN_GITHUB }}
          private_key: ${{ secrets.APP_PRIVATE_KEY_ADMIN_GITHUB }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: master
          token: ${{ steps.generate_token.outputs.token }}
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin' 
          java-version: 17
      - name: Check for updates
        run: ./gradlew ci-updater spotlessApply
      - name: Check for changes
        id: git_changes
        run: |
          git diff --name-only
          if [[ $(git diff --name-only) ]]; then
            echo "Changes detected!"
            echo "HAS_CHANGES=true" >> $GITHUB_ENV
          else
            echo "No changes detected!"
            echo "HAS_CHANGES=false" >> $GITHUB_ENV
          fi
      - name: Create Pull Request
        if: env.HAS_CHANGES == 'true'
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ steps.generate_token.outputs.token }}
          committer: Dependencies Bot <release-bot@bancolombia.com.co>
          commit-message: 'fix(deps): update dependencies'
          title: 'fix(deps): update dependencies'
          body: 'This PR updates dependencies to latest versions'
          branch: 'feature/autoupdate-deps'
          base: 'master'
          labels: 'dependencies'
          reviewers: 'juancgalvis,luisgomez29'
