package {{package}}.s3.config;

import {{package}}.s3.config.model.S3ConnectionProperties;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Profile;
import software.amazon.awssdk.auth.credentials.ProfileCredentialsProvider;
import software.amazon.awssdk.auth.credentials.WebIdentityTokenFileCredentialsProvider;
{{#metrics}}
import software.amazon.awssdk.metrics.MetricPublisher;
{{/metrics}}
import software.amazon.awssdk.regions.Region;
import software.amazon.awssdk.services.s3.S3AsyncClient;


import java.net.URI;

@Configuration
public class S3Config {

    {{^metrics}}
    @Profile({"dev", "cer", "pdn"})
    @Bean
    public S3AsyncClient s3AsyncClient(S3ConnectionProperties s3Properties) {
        return S3AsyncClient.builder()
                .region(Region.of(s3Properties.region()))
                // or any other provider suitable for your environment
                .credentialsProvider(WebIdentityTokenFileCredentialsProvider.create())
                .build();
    }

    @Profile("local")
    @Bean
    public S3AsyncClient localS3AsyncClient(S3ConnectionProperties s3Properties) {
        return S3AsyncClient.builder()
                .region(Region.of(s3Properties.region()))
                .credentialsProvider(ProfileCredentialsProvider.create("default"))
                .endpointOverride(URI.create(s3Properties.endpoint()))
                .build();
    }
    {{/metrics}}
    {{#metrics}}
    @Profile({"dev", "cer", "pdn"})
    @Bean
    public S3AsyncClient s3AsyncClient(S3ConnectionProperties s3Properties, MetricPublisher publisher) {
        return S3AsyncClient.builder()
                .region(Region.of(s3Properties.region()))
                // or any other provider suitable for your environment
                .credentialsProvider(WebIdentityTokenFileCredentialsProvider.create())
                .overrideConfiguration(o -> o.addMetricPublisher(publisher))
                .build();
    }

    @Profile("local")
    @Bean
    public S3AsyncClient localS3AsyncClient(S3ConnectionProperties s3Properties,
                                            MetricPublisher publisher) {
        return S3AsyncClient.builder()
                .region(Region.of(s3Properties.region()))
                .credentialsProvider(ProfileCredentialsProvider.create("default"))
                .overrideConfiguration(o -> o.addMetricPublisher(publisher))
                .endpointOverride(URI.create(s3Properties.endpoint()))
                .build();
    }
    {{/metrics}}

}
