package {{package}}.s3.config.model;

import org.springframework.boot.context.properties.ConfigurationProperties;

@ConfigurationProperties(prefix = "adapters.aws.s3")
public record S3ConnectionProperties(
        String endpoint,
        String region,
        String bucketReportName) {
}
