package {{package}}.sqs.sender;

import {{package}}.sqs.sender.config.SqsSenderProperties;
import lombok.extern.log4j.Log4j2
import lombok.AllArgsConstructor
import software.amazon.awssdk.services.sqs.SqsAsyncClient
import lombok.SneakyThrows
import org.springframework.stereotype.Service
import software.amazon.awssdk.services.sqs.model.SendMessageRequest

@Service
@Log4j2
@AllArgsConstructor
class SqsSender /*implements SomeGateway*/ {
    private val properties: SqsSenderProperties? = null
    private val client: SqsAsyncClient? = null

    @SneakyThrows
    fun send(message: String): String {
        val response = client!!.sendMessage(buildRequest(message)).get()
    return response.messageId()
    }

    private fun buildRequest(message: String): SendMessageRequest {
    return SendMessageRequest.builder()
        .queueUrl(properties!!.queueUrl)
        .messageBody(message)
        .build()
    }
}