package {{package}}.sqs.sender.config;

import lombok.AllArgsConstructor
import lombok.Getter
import lombok.NoArgsConstructor
import lombok.Setter
import org.springframework.boot.context.properties.ConfigurationProperties
import org.springframework.context.annotation.Configuration

@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Configuration
@ConfigurationProperties(prefix = "adapter.sqs")
class SQSSenderProperties {
    val region: String? = null
    val queueUrl: String? = null
    val endpoint: String? = null
}