package {{package}}.sqs.sender.config;

{{#lombok}}
import lombok.Data;
{{/lombok}}
import org.springframework.boot.context.properties.ConfigurationProperties;
import org.springframework.context.annotation.Configuration;

{{#lombok}}
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
{{/lombok}}
@Configuration
@ConfigurationProperties(prefix = "adapter.sqs")
public class SQSSenderProperties {
    private String region;
    private String queueUrl;
    private String endpoint;
{{^lombok}}

    public SQSSenderProperties() {
    }

    public String getRegion() {
        return region;
    }

    public void setRegion(String region) {
        this.region = region;
    }

    public String getQueueUrl() {
        return queueUrl;
    }

    public void setQueueUrl(String queueUrl) {
        this.queueUrl = queueUrl;
    }

    public String getEndpoint() {
        return endpoint;
    }

    public void setEndpoint(String endpoint) {
        this.endpoint = endpoint;
    }
{{/lombok}}
}
