package {{package}}.sqs.listener.helper;

import {{package}}.sqs.listener.SQSProcessor;
import {{package}}.sqs.listener.config.SQSProperties;
{{#metrics}}
import io.micrometer.core.instrument.Timer;
import io.micrometer.core.instrument.simple.SimpleMeterRegistry;
{{/metrics}}
import org.junit.jupiter.api.Assertions;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.mockito.Mock;
import org.mockito.MockitoAnnotations;
import org.springframework.test.util.ReflectionTestUtils;
import software.amazon.awssdk.services.sqs.SqsAsyncClient;
import software.amazon.awssdk.services.sqs.model.*;

import java.util.concurrent.CompletableFuture;

import static org.mockito.ArgumentMatchers.any;
import static org.mockito.Mockito.when;

class SQSListenerTest {

    @Mock
    private SqsAsyncClient asyncClient;

    @Mock
    private SQSProperties sqsProperties;

    @BeforeEach
    void setUp(){
        MockitoAnnotations.openMocks(this);

        when(sqsProperties.region()).thenReturn("us-east-1");
        when(sqsProperties.queueUrl()).thenReturn("http://localhost:4566/00000000000/massive-sqs");
        when(sqsProperties.waitTimeSeconds()).thenReturn(20);
        when(sqsProperties.maxNumberOfMessages()).thenReturn(10);
        when(sqsProperties.numberOfThreads()).thenReturn(1);

        var message = Message.builder().body("message").build();
        var deleteMessageResponse = DeleteMessageResponse.builder().build();
        var messageResponse = ReceiveMessageResponse.builder().messages(message).build();

        when(asyncClient.receiveMessage(any(ReceiveMessageRequest.class))).thenReturn(CompletableFuture.completedFuture(messageResponse));
        when(asyncClient.deleteMessage(any(DeleteMessageRequest.class))).thenReturn(CompletableFuture.completedFuture(deleteMessageResponse));

    }

    @Test
    void startTest(){
        var sqsListener = SQSListener.builder()
            .client(asyncClient)
            .properties(sqsProperties)
            .consumer(System.out::println)
            {{#metrics}}
            .timer(Timer.builder("test").register(new SimpleMeterRegistry()))
            {{/metrics}}
            .build();

        Assertions.assertNotNull(sqsListener.start());
    }

    @Test
    void listenerTest() {
        var sqsProcessor = new SQSProcessor();
        var sqsListener = SQSListener.builder()
            .client(asyncClient)
            .properties(sqsProperties)
            .consumer(sqsProcessor)
            {{#metrics}}
            .timer(Timer.builder("test").register(new SimpleMeterRegistry()))
            {{/metrics}}
            .build();

        ReflectionTestUtils.invokeMethod(sqsListener, "listen");
        Assertions.assertNotNull(sqsListener);
    }
}