package {{package}}.sqs.listener.config;

import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.mockito.Mock;
import org.mockito.MockitoAnnotations;
{{#metrics}}
import software.amazon.awssdk.metrics.LoggingMetricPublisher;
{{/metrics}}
import software.amazon.awssdk.services.sqs.SqsAsyncClient;

import static org.junit.jupiter.api.Assertions.assertNotNull;

public class SQSConfigTest {

    @Mock
    private SqsAsyncClient asyncClient;

    @BeforeEach
    void setUp(){
        MockitoAnnotations.openMocks(this);
    }

    @Test
    void configTest() {
        var sqsProperties = new SQSProperties(
            "us-east-1",
            "http://localhost:4566",
            "http://localhost:4566/00000000000/queueName",
            20,
            30,
            10,
            1
        );
        {{#metrics}}
        LoggingMetricPublisher loggingMetricPublisher = LoggingMetricPublisher.create();
        {{/metrics}}
        var sqsConfig = new SQSConfig();

        assertNotNull(sqsConfig.sqsListener(asyncClient, sqsProperties, message -> {}));
        assertNotNull(sqsConfig.configSqs(sqsProperties{{#metrics}}, loggingMetricPublisher{{/metrics}}));
    }
}